/* Divs */

/*

p{
    color:red;
}
.box1 p{
    color:blue;
}
.box2 p{
    color:rebeccapurple;
}
.box1{
    color:green;
    overflow: auto;
    height: 100px;
    width:50%;
}
.box2{
    color:green;
    overflow: scroll;
    height: 130 px;
    width:50%;
}

*/

/* Uygulama */

/*

#container {
    width: 75%;
    background-color: green;
    border: 1px solid red;
}

#left {
    width: 74%;
    display: inline-block;
    background-color: plum;

}

#right {
    width: 24%;
    display: inline-block;
    background-color: pink;
}
*/

/* Floating Divs and Images */

/*

#float{
    float:left;
}

.box {
    width: 100px;
    height: 100px;
    margin: 2px;
}

.clear{
    overflow: auto;
}

#first {
    background-color: purple;
    float: left;
}

#second {
    background-color: aqua;
    float: left;
}

#third {
    background-color: red;
    float:left;
}

#contain {
    background-color: gray;
}

*/