body{
    background-color: teal;
}

img{
    width: 200px;
}

.box{
    display: inline-block;
    background-color: white;
    width: 250px;
    margin-left: 40px;
}
.box:hover{
    box-shadow: 5px 5px 5px;
}